{% extends 'base.html' %}

{% block title %} Recruiting Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Embark on an unparalleled rugby adventure! Our program offers players the unique opportunity to study and play in top rugby nations like the USA, Ireland, Scotland, and England. Elevate your skills and education on an international stage.">
    <link rel="stylesheet" href="{% static 'css/recruiting.css' %}">
{% endblock %}

{% block content %}
<main>
    <section id="recruiting-section">
        <h1>Player Recruiting</h1>
        <p><em>Sponsored by Strong Lad Rugby</em></p>
        <ul>
            <li>25 years of experience</li>
            <li>6 Schools to attend</li>
            <li>4 countries to explore</li>
            <li>Prep, Highschool, & University years</li>
        </ul>
    </section>
    <section id="apply-section">
        <h3 class="section-title">Submit an application today.</h3>
        <a id="apply-button" href="#">Apply Now</a>
    </section>
    <section id="schools-section">
        <h2 class="section-title">Our Schools</h2>

        <!-- School 1 -->
        <article class="school">
            <h3>University of mary Washington</h3>
            <ul>
                <li>School Level: College</li>
                <li>Location: USA</li>
                <li>Description: Immerse yourself in the rich academic and rugby culture at the University of Mary Washington. Our college provides a dynamic environment where students excel academically and athletes thrive on the rugby field. Join a community dedicated to both education and sports, shaping well-rounded individuals.</li>
            </ul>
        </article>

        <!-- School 2 -->
        <article class="school">
            <h3>Kutztown</h3>
            <ul>
                <li>School Level: College</li>
                <li>Location: USA</li>
                <li>Description: At Kutztown, we blend academic excellence with a passion for rugby. As a college committed to holistic development, we offer a vibrant rugby program that allows students to showcase their athletic prowess. Join us on a journey where education and sportsmanship go hand in hand.</li>
            </ul>
        </article>

        <!-- School 2 -->
        <article class="school">
            <h3>George Mason</h3>
            <ul>
                <li>School Level: College</li>
                <li>Location: USA</li>
                <li>Description: George Mason University, located in the heart of the USA, is home to a thriving rugby community. Our college emphasizes the importance of both intellectual and athletic growth. Engage in a transformative experience where you can pursue academic achievements while being an integral part of our rugby legacy.</li>
            </ul>
        </article>
    </section>
    <section id="contact-section">
        <h2 class="section-title">Contact Us</h2>
        <h2 class="service-subtitle">Have any question or just want to chat?</h2>
        <p>Head of Recruiting: Tim Brown</p>
        <p>Email: rugbyvarsity@gmail.com</p>
        <p>Cell: (202) 503-6415</p>
    </section>
</main>
{% endblock %}