{% extends 'base.html' %}

{% block title %} Recruiting Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Embark on an unparalleled rugby adventure! Our program offers players the unique opportunity to study and play in top rugby nations like the USA, Ireland, Scotland, and England. Elevate your skills and education on an international stage.">
    <link rel="stylesheet" href="{% static 'css/recruiting.css' %}">
{% endblock %}

{% block content %}
<main>
    <section id="recruiting-section">
        <h1>Player Recruiting</h1>
        <p><em>Sponsored by Strong Lad Rugby</em></p>
        <ul>
            <li>25 years of experience</li>
            <li>6 Schools to attend</li>
            <li>4 countries to explore</li>
            <li>Prep, Highschool, & University years</li>
        </ul>
    </section>
    <section id="apply-section">
        <a id="apply-button" href="#">Apply Now</a>
    </section>
</main>
{% endblock %}