{% extends 'base.html' %}

{% block title %} Recruiting Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Embark on an unparalleled rugby adventure! Our program offers players the unique opportunity to study and play in top rugby nations like the USA, Ireland, Scotland, and England. Elevate your skills and education on an international stage.">
    <link rel="stylesheet" href="{% static 'css/recruiting.css' %}">
{% endblock %}

{% block content %}
<main>
    <section id="recruiting-section">
        <h1>Player Recruiting</h1>
        <p><em>Sponsored by Strong Lad Rugby</em></p>
        <ul>
            <li>25 years of experience</li>
            <li>6 Schools to attend</li>
            <li>4 countries to explore</li>
            <li>Prep, Highschool, & University years</li>
        </ul>
    </section>
    <section id="apply-section">
        <h3 class="section-title">Submit an application today.</h3>
        <a id="apply-button" href="{% url 'recruiting:apply' %}">Apply Now</a>
    </section>
    <section id="schools-section">
        <h2 class="section-title">Our Schools</h2>

        {% for school in schools %}
            <article class="school">
                <h3>{{ school.name }}</h3>
                <ul>
                    <li>School Level: {% if school.school_level == 'HS' %}High School{% elif school.school_level == 'CO' %}College{% endif %}</li>
                    <li>Location: {{ school.location }}</li>
                    <li>Description: {{ school.description }}</li>
                </ul>
            </article>
        {% endfor %}
    </section>
    <section id="contact-section">
        <h2 class="section-title">Contact Us</h2>
        <h2 class="service-subtitle">Have any question or just want to chat?</h2>
        <p>Head of Recruiting: Tim Brown</p>
        <p>Email: rugbyvarsity@gmail.com</p>
        <p>Cell: (202) 503-6415</p>
    </section>
</main>
{% endblock %}