{% extends 'base.html' %}

{% block title %} School Page {% endblock %}

{% load static %}

{% block extra_head %}
<meta name="description" content="This is a recruitment page showing the details for a specific rugby school on our platform.">
<link rel="stylesheet" href="{% static 'css/school.css' %}">
<link rel="stylesheet" href="{% static 'css/accordion.css' %}">
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <section id="school-section">
        <h1 class="school-title">{{ school.name }}</h1>
        <div class="school-info">
            <p>{{ school.location }}</p>
            <p>{% if school.school_level == 'HS' %}High School{% elif school.school_level == 'CO' %}College{% endif %}</p>
        </div>
        <p class="school-description">{{ school.description }}</p>
        <a class="apply-button" href="{% url 'recruiting:apply' %}">Apply Now</a>
    </section>

    <div class="section-wrapper">
        <div class="fixed-column">

        </div>
        <div class="section-content">
            <section class="education-section">
                <div class="main">
                    <p class="foreword">Academic Excellence</p>
                    <h1 class="title">Elevate Your Learning Experience at a Premier Academic Institution</h1>
                    <p class="subtitle">Explore the Academic Brilliance of this Select School Featured on First Five Rugby. Discover Why These Institutions Stand Out as Pinnacle Hubs of Knowledge and Achievement.</p>
                </div>
                <div class="secondary">
                    <div class="image-wrapper">
                        <img src="{{ school.get_school_image }}" alt="photograph of schooling in session"/>
                    </div>
                    <div class="accordion-wrapper">
                        <button class="accordion">Top Programs</button>
                        <div class="panel">
                            <p>School is known for the following programs.</p>
                            <ul class="program-list">
                                {% for program in top_programs %}
                                    <li>{{ program }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button class="accordion">Nationally Ranked</button>
                        <div class="panel">
                            <p>School is ranked {{ school.national_rank }} in the nation.</p>
                        </div>

                        <button class="accordion">Student Body</button>
                        <div class="panel">
                            <p>School has {{ school.student_body}} student.</p>
                        </div>

                        <button class="accordion">Attendance Costs</button>
                        <div class="panel">
                            <p>The cost to attend is ${{school.attendance_cost}}</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="rugby-section">
                <div class="main">
                    <p class="foreword">Rugby Excellence</p>
                    <h1 class="title">Experience Top-Tier Rugby Programs and Coaching</h1>
                    <p class="subtitle">Immerse Yourself in the Thriving Rugby Culture at This Institution. Unleash Your Potential with Outstanding Coaching and Unforgettable Sporting Moments.</p>
                </div>
                <div class="secondary">
                    <div class="image-wrapper flip">
                        <img src="{{ school.get_rugby_image }}" alt="photograph of on going rugby match in the mud"/>
                    </div>
                    <div class="accordion-wrapper">
                        <button class="accordion">Our Rugby</button>
                        <div class="panel">
                            <p>{{ school.rugby_description }}</p>
                        </div>

                        <button class="accordion">Our Staff</button>
                        <div class="panel">
                            <p>Head Coach: {{ school.rugby_coach }}</p>
                        </div>

                        <button class="accordion">Nationally Ranked</button>
                        <div class="panel">
                            <p>The school is ranked number {{ school.rugby_rank}} in the nation.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}