{% extends 'base.html' %}

{% block title %} School Page {% endblock %}

{% load static %}

{% block extra_head %}
<meta name="description" content="This is a recruitment page showing the details for a specific rugby school on our platform.">
<link rel="stylesheet" href="{% static 'css/school.css' %}">
{% endblock %}

{% block content %}
<main>
    <section id="school-section">
        <h1 class="school-title">{{ school.name }}</h1>
        <div class="school-info">
            <p>{{ school.location }}</p>
            <p>{% if school.school_level == 'HS' %}High School{% elif school.school_level == 'CO' %}College{% endif %}</p>
        </div>
        <p class="school-description">{{ school.description }}</p>
        <a class="apply-button" href="{% url 'recruiting:apply' %}">Apply Now</a>
    </section>
    <section class="education-section">
        <div class="main">
            <p class="foreword">Academic Excellence</p>
            <h1 class="title">Elevate Your Learning Experience at a Premier Academic Institution</h1>
            <p class="subtitle">Explore the Academic Brilliance of this Select School Featured on First Five Rugby. Discover Why These Institutions Stand Out as Pinnacle Hubs of Knowledge and Achievement.</p>
        </div>
    </section>
    
<section class="rugby-section">
    <div class="main">
        <p class="foreword">Rugby Excellence</p>
        <h1 class="title">Experience Top-Tier Rugby Programs and Coaching</h1>
        <p class="subtitle">Immerse Yourself in the Thriving Rugby Culture at This Institution. Unleash Your Potential with Outstanding Coaching and Unforgettable Sporting Moments.</p>
    </div>
</section>
</main>
{% endblock %}