{% extends 'base.html' %}

{% block title %} Application Submitted {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Thank you for submitting your application!">
    <link rel="stylesheet" href="{% static 'css/recruiting.css' %}">
{% endblock %}

{% block content %}
<main>
    <section id="success-section">
        <h2 class="section-title">Application Submitted</h2>
        <p>Thank you for submitting your application to join our rugby program!</p>
        <p>We will review your information and get back to you soon.</p>
    </section>
</main>
{% endblock %}