*.pyc
__pycache__/
*.pyo

# Environment files
.env

# Virtual environment
venv/
env/

# SQLite database file
db.sqlite3

# Media and static files
media/
staticfiles/
*.sh

# MacOS system files
.DS_Store
