{% extends 'base.html' %}

{% block title %} Store page {% endblock %}

{% load static %}

{% block extra_head %}
<meta name="description" content="Shop at First Five Rugby Store for premium rugby apparel and merchandise. Discover our range of streetwear, vintage jerseys, and exclusive rugby gear.">
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}

{% block content %}
<!-- Store Section -->
<section class="store-section">
    <h1>Store</h1>
    <p><em>Explore our curated selection of rugby apparel, ranging from streetwear to vintage jerseys and clubwear.</em></p> 
    <hr />
</section>

<h2>All Products</h2>
<section id="products-section">
    <!-- Example of a product loaded dynamically -->
    {% for product in products %}
    <div class="product">
        <h3>{{ product.name }}</h3>
        <!-- Ensure your model has a method to get the primary image URL -->
        <a href="{% url 'product:product_detail' product.id %}">
            <img width="100%" src="{{ product.primary_image_url }}" alt="{{ product.name }}"/>
        </a>

        <div class="product-details">
            <div class="detail">
                <h4>Price</h4>
                <p>${{ product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}