{% extends 'base.html' %}

{% block title %} About page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Learn about First Five Rugby, the dedicated platform for rugby enthusiasts in North America. Read our story, mission, and how we're enriching the rugby community.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<section class="welcome-section">
    <div class="container">
        <div class="welcome-wrapper">
            <p class="welcome-title">Welcome to First Five Rugby</p>
            <p class="welcome-statement">We are the premier online destination dedicated to fostering and enriching the rugby community. Conceived and crafted with passion by the community, this platform serves as a comprehensive guide and resource hub for enthusiasts, players, coaches, referees, and parents involved in the sport.</p>
        </div>

        <div class="scroll-action">
            <p>For all your rugby needs.</p>
            <p><i class="fa-solid fa-angle-down"></i></p>
        </div>
    </div>
</section>

<div class="row-wrapper">
    <!-- First Section: Comprehensive Rugby Hub -->
    <section class="diverse-section">
        <div class="content">
            <h2>Comprehensive Rugby Hub</h2>
            <p>Explore rugby education, coaching, player guidance, and updates on our platform. From basics to advanced tactics, skill enhancement, and the latest news.</p>
        </div>
        <div class="action-wrapper">
            <div class="action-link-wrapper">
                <a class="action-link" href="{% url 'f5index:services' %}"><i class="fa-brands fa-hubspot"></i></a>
            </div>
        </div>
    </section>

    <!-- Second Section: Complete Rugby Apparel -->
    <section class="store-section">
        <div class="content">
            <h2>Complete Rugby Apparel</h2>
            <p>Discover diverse rugby apparel and tailored services at First Five Rugby, ensuring a complete rugby experience.</p>
        </div>
        <div class="action-wrapper">
            <div class="action-link-wrapper">
                <a class="action-link" href="{% url 'store:store' %}"><i class="fa-solid fa-store"></i></a>
            </div>
        </div>
    </section>

    <!-- Third Section: Join Our Growing Community -->
    <section class="community-section">
        <div class="content">
            <h2>Join Our Growing Community</h2>
            <p>Pioneer a rugby community beyond a website. Engage, learn, and make a difference at First Five Rugby. Your passion, our home.</p>
        </div>
        <div class="action-wrapper">
            <div class="action-link-wrapper">
                <a class="action-link" target="_blank" href="https://www.instagram.com/firstfiverugby"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </section>
</div>

{% endblock %}