{% extends 'base.html' %}

{% block title %} About page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Learn about First Five Rugby, the dedicated platform for rugby enthusiasts in North America. Read our story, mission, and how we're enriching the rugby community.">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <!-- Welcome Section -->
    <section class="welcome-section">
        <div class="container">
            <h1>Welcome to First Five Rugby</h1>
            <p><em>For all your rugby needs.</em></p>
            <p>We are the premier online destination dedicated to fostering and enriching the rugby community. Conceived and crafted with passion by the community, this platform serves as a comprehensive guide and resource hub for enthusiasts, players, coaches, referees, and parents involved in the sport.</p>
            
            <h2>Our Commitment to Rugby Education and Resources</h2>
            <p>We are committed to elevating the sport of rugby by offering a wealth of educational resources and tools. Whether you're a coach seeking effective training drills, a player looking to enhance performance, or a parent aiming to support your child's rugby journey, First Five Rugby is your go-to source.</p>
            
            <h2>Diverse Sectors, One Rugby Community</h2>
            <ul>
                <li><strong>Educational Insights</strong>: From beginner tips to advanced tactics, our platform covers all aspects of rugby education.</li>
                <li><strong>Coaching and Refereeing Resources</strong>: Access materials tailored for skill enhancement and official certification.</li>
                <li><strong>Player and Parent Guides</strong>: Find comprehensive resources for player development and parental guidance.</li>
                <li><strong>Fan Engagement</strong>: Stay updated with the latest rugby news, local events, and international matches.</li>
            </ul>

            <h2>Exclusive Rugby Apparel and Services</h2>
            <p>Explore our curated selection of rugby apparel, ranging from streetwear to vintage jerseys and clubwear. Additionally, First Five Rugby offers bespoke services for clubs and individual players, ensuring every aspect of your rugby experience is covered.</p>

            <h2>Join Our Growing Community</h2>
            <p>Be a part of a platform that's more than just a website—it's a community where your passion for rugby finds a home. Stay informed, get involved, and make a difference in the rugby world. Discover, learn, and connect with First Five Rugby today!</p>
        </div>
    </section>
{% endblock %}