{% extends 'base.html' %}

{% block title %} Home page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Discover First Five Rugby - your gateway to the North American rugby community. Explore resources, news, and insights into the world of rugby. Join us and fuel your passion for the sport.">
    
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section class="jumbotron" style="background-image: url('{% static 'media/index/background.jpg' %}')">
    <div class="title-container">
        <h1 id="review" class="title">Explore Rugby.</h1>
        <p class="subtitle">The Ultimate Rugby Platform for All Your Needs.</p>
    </div>
    <div class="action-container">
        <a class="action-link" href="{% url 'recruiting:home' %}"><span>&#9737;</span> Play & Study Abroad <span>&#8599;</span></a>
        <a class="action-link" href="{% url 'f5index:services' %}"><span>&#9737;</span> Ireland Team Tours <span>&#8599;</span></a>
        <a class="action-link" href="{% url 'f5index:about' %}"><span>&#9737;</span> Create Team 501(c)(3)</a>
        <a class="action-link" href="{% url 'f5index:services' %}"><span>&#9737;</span> Training & Diet Plans</a>
    </div>
</section>
<section class="review-highlight">
    <div class="container-lg">
        <h1 class="highlight-title">Travel to a new country</h1>

        <div class="stats-wrapper">
            <div class="stats">
                <p class="stat"><span class="stat-number">25</span> years of experience.</p>
                <p class="stat"><span class="stat-number">04</span> countries to choose.</p>
            </div>
            <div class="stats-statement">
                <h1 class="statement">Do you have what it takes to study and play abroad? Book a call with us today.</h1>
                <div class="action-button-wrapper">
                    <a class="action-button" href="{% url 'recruiting:apply' %}">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}