{% extends 'base.html' %}

{% block title %} Home page {% endblock %}

{% block extra_head %}
    <meta name="description" content="Discover First Five Rugby - your gateway to the North American rugby community. Explore resources, news, and insights into the world of rugby. Join us and fuel your passion for the sport.">
{% endblock %}

{% block content %}
<main>
    <!-- Welcome Section -->
    <section id="welcome-section">
        <h1>Welcome to First Five Rugby</h1>
        <p><em>At the heart of North American rugby</em></p>
        <p>Welcome to First Five Rugby, the premier online destination dedicated to fostering and enriching the rugby community in North America. Conceived and crafted with passion by the community, this platform serves as a comprehensive guide and resource hub for enthusiasts, players, coaches, referees, and parents involved in the sport.</p>
    </section>
</main>
{% endblock %}