{% extends 'base.html' %}

{% block title %} Recruiting Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Embark on an unparalleled rugby adventure! Our program offers players the unique opportunity to study and play in top rugby nations like the USA, Ireland, Scotland, and England. Elevate your skills and education on an international stage.">
    <link rel="stylesheet" href="{% static 'css/recruiting.css' %}">
{% endblock %}

{% block content %}
<section class="selection-section">
    <div class="container">
        <div class="roles-container">
            <h1 class="roles-title">Follow your own <span class="highlight">pro pathway</span> and get a great education.</h1>
            <p class="roles-subtitle">A NEW ERA</p>
            <div class="roles-wrapper">
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">USA</h3>
                        <p class="country-desc">Play and study in America.</p>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/usa.jpg' %}" />
                    </div>
                    <a class="country-link" href="#">Apply Now</a>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">England</h3>
                        <p class="country-desc">Play and study in England.</p>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/uk.jpg' %}" />
                    </div>
                    <a class="country-link" href="#">Apply Now</a>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">Scotland</h3>
                        <p class="country-desc">Play and study in Scotland.</p>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/sct.jpg' %}" />
                    </div>
                    <a class="country-link" href="#">Apply Now</a>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">Ireland</h3>
                        <p class="country-desc">Play and study in Ireland.</p>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/ire.jpg' %}" />
                    </div>
                    <a class="country-link" href="#">Apply Now</a>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">Wales</h3>
                        <p class="country-desc">Play and study in Wales.</p>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/wal.jpg' %}" />
                    </div>
                    <a class="country-link" href="#">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}