{% extends 'base.html' %}

{% block title %} Recruiting Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Embark on an unparalleled rugby adventure! Our program offers players the unique opportunity to study and play in top rugby nations like the USA, Ireland, Scotland, and England. Elevate your skills and education on an international stage.">
    <link rel="stylesheet" href="{% static 'css/recruiting.css' %}">
{% endblock %}

{% block content %}
<section class="selection-section">
    <div class="container">
        <div class="roles-container">
            <h1 class="roles-title">Follow your own <span class="highlight">pro pathway</span> and get a great education.</h1>
            <p>More information available below.</p>
            <a class="apply-button" href="{% url 'submissions:recruiting_submission' %}">Scholarships Available</a>
            <div class="roles-wrapper">
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">USA</h3>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/usa.png' %}" />
                    </div>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">England</h3>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/uk.png' %}" />
                    </div>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">Scotland</h3>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/sct.png' %}" />
                    </div>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">Ireland</h3>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/ire.png' %}" />
                    </div>
                </div>
                <div class="role">
                    <div class="role-meta">
                        <h3 class="country-name">Wales</h3>
                    </div>
                    <div class="country-wrapper">
                        <img class="country_img" src="{% static 'media/recruiting/wal.png' %}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info-section">
    <div class="container">
        <div class="info-container">
            <p class="info-subtitle">Service</p>
            <h1 class="info-title">About the Program.</h1>
            <p class="info-summary">First Five Rugby recruiting has over 25 years of experience placing athletes in international and top ranked programs with a direct pathway to a professional club - resulting in students furthering their education while also getting the opportunity to test their abilities in a world class environment.</p>
            <br />
            <a class="apply-button" href="{% url 'submissions:recruiting_submission' %}">Scholarships Available</a>
        </div>
    </div>
</section>

{% endblock %}