{% extends 'base.html' %}

{% block title %} Services page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Explore our bespoke rugby services at First Five Rugby. From club support to player development, we offer tailored solutions to elevate your rugby experience.">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- Services Section -->
    <section id="services-section">
        <h1>Services</h1>
        <p><em>Explore services for clubs and individual players, ensuring every aspect of your rugby experience is covered.</em></p> 
        <hr />
    </section>
    <section id="team-services">
        <h1>Let's start with Team Services</h1>
        <h4>Everything you need to start a team or run a team.</h4>
    </section>
</main>
{% endblock %}