{% extends 'base.html' %}

{% block title %} Services page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Explore our bespoke rugby services at First Five Rugby. From club support to player development, we offer tailored solutions to elevate your rugby experience.">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
<main>
    <!-- Services Section -->
    <section id="services-section">
        <h1>Services</h1>
        <p><em>Explore services for clubs and individual players, ensuring every aspect of your rugby experience is covered.</em></p> 
        <hr />
    </section>
    <section id="player-services">
        <h1 class="service-title">Player Recruiting</h1>
        <h2 class="service-subtitle">Kickstart Your Rugby Journey at Top Schools Across the Globe</h2>
        <p class="service-subtitle">Embark on an unparalleled rugby adventure! Our program offers players the unique opportunity to study and play in top rugby nations like the USA, Ireland, Scotland, and England. Elevate your skills and education on an international stage.</p>
        
        <div class="service-actions">
            <a class="info-action" href="#">Learn More</a>
        </div>
    </section>
    <section id="team-services">
        <h1 class="service-title">Team Solutions</h1>
        <h2 class="service-subtitle">Build, Recruit, Thrive: Your Team's Success Partner</h2>
        <p class="service-subtitle">Empower your team's journey with essential services. From establishing a 501c3 to crafting winning recruitment strategies and engaging social media presence, we provide the tools for your team's success and visibility.</p>
        
        <div class="service-actions">
            <a class="info-action" href="#">Learn More</a>
        </div>
    </section>
    <section id="kit-services">
        <h1 class="service-title">Custom Canterbury Kit</h1>
        <h2 class="service-subtitle">Gear Up for Glory: Tailored Excellence for Every Rugby Occasion</h2>
        <p class="service-subtitle">Outfit your team with the best in Canterbury Rugby. Our Custom Kit Services offer everything from game day gear to travel essentials, all tailored for performance and pride. Elevate your rugby experience with bespoke kits and honor caps.</p>
        
        <div class="service-actions">
            <a class="info-action" href="#">Learn More</a>
        </div>
    </section>
    <section id="player-programs">
        <h1 class="service-title">Player Programs</h1>
        <h2 class="service-subtitle">Elevate Your Game: Comprehensive Training and Wellness Plans</h2>
        <p class="service-subtitle">Unlock your full potential with our free, holistic player development programs. We offer expert-designed training, diet, and strength plans tailored to boost your rugby performance and overall well-being. Perfect your skills, optimize your health, and prepare for the demands of top-level rugby.</p>
        
        <div class="service-actions">
            <a class="info-action" href="#">Learn More</a>
        </div>
    </section>
</main>
{% endblock %}