{% extends 'base.html' %}

{% block title %} Services page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Explore our bespoke rugby services at First Five Rugby. From club support to player development, we offer tailored solutions to elevate your rugby experience.">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block content %}
<div class="nav-spacer">
</div>
<div class="section section-hero theme-dark">
    <div class="section-content">
        <div class="hero-headline">Meet the<br class="small"> A-list of<br> rugby services.</div>
        <div class="copy-wrapper">
            <div class="hero-tagline">Unlock elite fitness plans, tailored diets, premier rugby gear, and exclusive opportunities. Elevate your game and lifestyle with us. The ultimate rugby experience lives here—only on First Five Rugby.</div>
        </div>
    </div>
</div>
<div class="section-content">
    <div class="banner-wrapper">
        <div class="banner-icon">
            <img src="{% static 'media/index/firstfive-logo.png' %}" />
        </div>
        <div class="banner-content">Get help from an expert on <br class="small"> any service with one call.</div>
        <div class="banner-link">
            <a href="#">Learn more</a>
        </div>
    </div>
</div>
<div class="section-content video-hero">
    <div class="video-wrapper">
        <video class="video" autoplay muted loop>
            <source src="{% static 'media/services/service-hero.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="hero-heading-content">
        <div class="hero-heading-headline">
            Access award-winning<br>rugby plans for<br class="small"> gym & diet.
        </div>
        <div class="hero-heading-cta-container">
            <div class="banner-link hero-video-link">
                <a class="theme-light text-dark" href="#">Free plans</a>
            </div>
            <div class="banner-link hero-video-link">
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>
<div class="dynamic-gallery marquees-container">
    <div class="dynamic-gallery-item-container">
        <div id="dynamic-gallery-item-a">
            <div class="marquees images-loading">
                <ul class="marquees-list">
                    <li class="marquees-tile">
                        <a class="marquees-link" href="#">
                            <div class="plan-title">Get Faster</div>
                            <div class="plan-category">Speed</div>
                        </a>
                    </li>
                    <li class="marquees-tile">
                        <a class="marquees-link" href="#">
                            <div class="plan-title">Eat & Perform</div>
                            <div class="plan-category">Nutrition</div>
                        </a>
                    </li>
                    <li class="marquees-tile">
                        <a class="marquees-link" href="#">
                            <div class="plan-title">Lift Heavier</div>
                            <div class="plan-category">Strength</div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<section class="services-section">
    <div class="services-container">
        <div class="services-wrapper">
            <div class="service">
                <p class="service-title">Strength & Conditioning</p>
                <p class="service-statement">Free fitness resources crafted by experts. One-on-ones available soon.</p>
                <a class="service-link" href="{% url 'f5index:training' %}">Free Plans >></a>
            </div>
            <div class="service">
                <p class="service-title">Player Nutrition</p>
                <p class="service-statement">Free nutritional guides created by experts. One-on-ones available soon.</p>
                <a class="service-link" href="{% url 'f5index:nutrition' %}">Free Plans >></a>
            </div>
            <div class="service">
                <p class="service-title">Team Tours</p>
                <p class="service-statement">Custom tour of Ireland for your rugby club. Stay in numerous cities, explore historic Ireland.</p>
                <a class="service-link" href="{% url 'f5index:tours' %}">Free Quote >></a>
            </div>
            <div class="service">
                <p class="service-title">Study & Play Abroad</p>
                <p class="service-statement">We provide direct connections to top schools and pro clubs.</p>
                <a class="service-link" href="{% url 'f5index:recruiting' %}">Scholarships >></a>
            </div>
            <div class="service">
                <p class="service-title">Club Management</p>
                <p class="service-statement">Let experts manage your funding, social media, and recruiting.</p>
                <a class="service-link" href="{% url 'f5index:club-mgmt' %}">Free Consultation >></a>
            </div>
            <div class="service">
                <p class="service-title">Rugby Store</p>
                <p class="service-statement">Shop vintage jerseys, custom team wear, and daily deals.</p>
                <a class="service-link" href="{% url 'store:store' %}">Daily Deals >></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}