{% extends 'base.html' %}

{% block title %} Store page {% endblock %}

{% block extra_head %}
    <meta name="description" content="Shop at First Five Rugby Store for premium rugby apparel and merchandise. Discover our range of streetwear, vintage jerseys, and exclusive rugby gear.">
{% endblock %}

{% block content %}
<main>
    <!-- Store Section -->
    <section id="store-section">
        <h1>Store</h1>
        <p><em>At the heart of North American rugby</em></p> 
    </section>
</main>
{% endblock %}