.welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.scroll-action {
    padding-top: 50px;
    color: black;
}

.row-wrapper {
    display: flex;
    justify-content: center;
    background-color: darkred;
    color: white;
    padding: 40vh 0;
}

.diverse-section, .store-section, .community-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    text-align: center;
}

.content {
    padding: 20px;
}


.action-link-wrapper {
    
}

.action-link {
    background: black;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.action-link:hover {
    background: white;
    color: black;
    transition: all .3s;
}

.subtitle-help {
    color: gray;
}

@media only screen and (max-width: 769px) {
    .container {
        width: 90%;
    }

    .row-wrapper {
        flex-direction: column;
        gap: 150px;
    }

    .diverse-section, .store-section, .community-section {
        width: 100%;
    }
}