section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.diverse-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.scroll-action {
    padding-top: 50px;
    color: black;
}

.action-link-wrapper {
    padding-top: 50px;
}

.action-link {
    color: rgb(111, 111, 111);
    text-decoration: none;
    font-size: 2em;
    transition: all .3s;
}

.action-link:hover {
    color: black;
    transition: all .3s;
}

.subtitle-help {
    color: gray;
}

@media only screen and (max-width: 769px) {
    .container {
        width: 90%;
    }
}