.jumbotron {
    background-size: cover; /* or "contain" depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.jumbo-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.jersey_container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.jersey_wrapper {
    max-width: 33%;
    width: 15%;
}

.jersey_img:hover {
    box-shadow: rgba(17, 17, 26, 0.722) 0px 4px 16px, rgba(17, 17, 26, 0.796) 0px 8px 24px, rgba(17, 17, 26, 0.803) 0px 16px 56px;
    transition: all .3s;
}

.jersey_img {
    max-width: 100%;
    height: auto;
    border-radius: 23px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: all .3s;
}

.action-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}

.action-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.action-link {
    background: white;
    color: black;
    text-decoration: none;
    padding: 20px;
    transition: all .3s;
    width: fit-content;
    margin: 5px;
    border-radius: 20px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.action-link:hover {
    background: black;
    color: white;
    transition: all .3s;
}

.link-wrap {
    display: flex;
    gap: 1rem;
    font-size: 1.2em;
}

.scroll-action {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-size: 1.2em;
}

.link-button {
    padding: 10px;
    text-decoration: none;
    background: darkred;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.abroad-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.abroad-section .subtitle {
    color: white;
}

.schools-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schools-title {
    font-weight: normal;
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 0;
}

.schools-stats {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 50px;
}

.stat {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.number {
    font-size: 3em;
    margin: 0;
}

.schools-action-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.action-tagline {
    color: rgba(255, 255, 255, 0.553);
}

@media only screen and (max-width: 1024px) {
    .jersey_wrapper {
        width: 33%;
    }

    .ccc-retro-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .schools-stats {
        width: 60%;
    }
}

@media only screen and (max-width: 769px) {
    .action-container {
        width: 80%;
    }

    .action-link {
        width: 100%;
    }

    .link-wrap {
        justify-content: space-between;
    }

    .schools-stats {
        width: 80%;
    }

    .stat {
        align-items: center;
    }
}