.jumbotron {
    height: 100vh;
    background-size: cover; /* or "contain" depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.title-container {
    position: absolute;
    top: 20%; /* Position the title container at the vertical center of the jumbotron */
    left: 10%; /* Position the title container at the horizontal center of the jumbotron */
}

.title {
    font-size: 4em;
    color: white;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1em;
    letter-spacing: .1rem;
    color: white;
}

.action-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 50%;
    left: 11%;
}

.action-link {
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s;
}

.action-link:hover {
    color: gray;
    transition: color 0.2s;
}


.review-highlight {
    padding: 2rem 0;
}

.container-lg {
    padding: 0 10%;
}

.highlight-title {
    margin: 0;
    font-size: 3em;
}

.stats-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.stats {
    display: flex;
    width: 50%;
    gap: 1rem;
}

.stat {
    font-size: 1.2em;
}

.stat-number {
    font-size: 5em;
    font-weight: bold;
}

.stats-statement {
    width: 50%;
}

.statement {
    font-weight: normal;
    font-size: 3em;
}

.action-button-wrapper {
    float: inline-end;
}

.action-button {
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    background-color: darkred;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .stat {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .title-container {
        transform: translateX(0);
    }

    .title {
        font-size: 2.5em;
    }

    .stats-wrapper {
        padding-top: 20%;
        flex-direction: column;
        align-items: normal;
    }

    .stats {
        width: 100%;
        justify-content: space-between;
    }

    .stats-statement {
        width: 100%;
    }

    .action-button-wrapper {
        width: 100%;
    }
}