.banner {
    padding-top: 150px;
    background-image: url('/static/media/nutrition/nutrition-bg.jpg');
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.banner-section {

}

.title-wrapper {
    color: white;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.banner-title {
    font-weight: normal;
    display: flex;
    margin: 0; 
    font-size: 5em;
}

.banner-subtitle {
    font-size: 1.1em;
    text-transform: uppercase;
}

.statement-wrapper {
    padding: 50px 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.statement-title {
    font-weight: bold;
}

.statement {
    color: gray;
    font-size: 1.4rem;
}

@media only screen and (max-width: 769px) {
    .banner-title {
        font-size: 3em;
    }

    .statement {
        font-size: 1.2rem;
    }

    .statement-wrapper {
        width: 100%;
    }

    .service {
        width: 100%;
    }
}