.product-wrapper {
    
}

.product {
    padding-top: 120px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title-image-wrapper {
    width: 40%;
}

.product-title {
    font-weight: normal;
}

.description-details-wrapper {
    width: 40%;
}

.product-details {
    display: flex;
    justify-content: space-between;
}

.product-image img {
    width: 100%;
}

.image-controller {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.hidden-image {
    display: none;
}

.image-controller .button {
    padding: 10px;
    border: 1px solid darkred;
    cursor: pointer;
    transition: .3s all;
}

.option-left, .option-right {
    user-select: none; /* Disable text selection */
}

.image-controller .button:hover {
    padding: 10px;
    border: 1px solid darkred;
    background: darkred;
    color: white;
    transition: .3s all;
}

.purchase-link {
    padding: 10px;
    background: darkred;
    color: white;
    text-decoration: none;
}

.purchase-button-wrapper {
    margin-top: 20px;
    text-align: right;
}

.size-options {
    display: flex;
    gap: 5px;
}

.sizebox {
    padding: 10px;
    border: 1px solid black;
}

.sizebox:hover {
    padding: 10px;
    border: 1px solid black;
    background: darkred;
    color: white;
    cursor: pointer;
}

.sizebox.selected {
    background-color: black;
    color: white;
}

.sizebox-disabled {
    padding: 10px;
    background-color: lightgray;
    color: gray;
    text-decoration: line-through;
    user-select: none;
    cursor: unset;
}

@media only screen and (max-width: 768px) {
    .product {
        padding-top: 120px;
        padding-bottom: 50px;
        width: 90%;
        justify-content: center;
        flex-direction: column;
    }

    .title-image-wrapper {
        width: auto;
    }

    .description-details-wrapper {
        width: auto;
    }
}