.selection-section {
    padding-top: 80px;
    background: black;
    color: white;
    background-image: url('/static/media/recruiting/library-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.selection-section {
    margin-bottom: 100px;
}

.sm-container {
    max-width: 1024px;
    margin: 0 auto;
}

.highlight {
    color: gray;
}

.roles-container {
    text-align: center;
}

.main-title {
    font-size: 2em;
}

.roles-wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.role {
    width: 20%;
    margin-bottom: 100px;
}

.roles-title {
    font-weight: normal;
}

.role-meta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.roles-subtitle {
    color: darkred;
    font-weight: bold;
    text-transform: uppercase;
}

.country-name {
    font-size: 2em;
    margin: 0;
}

.country-desc {
    margin: 0;
}

.country_img {
    width: 50%;
}

.country-link {
    display: block;
    color: white;
    background: darkred;
    padding: 10px;
    border-radius: 23px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    transition: all .3s;
}

.country-link:hover {
    background: white;
    color: black;
    transition: all .3s;
}

.apply-button {
    display: block;
    width: fit-content;
    font-size: 1.2rem;
    margin: 20px auto;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    background: darkred;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.info-container {
    margin-bottom: 100px;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 5em;
    color: rgb(32, 32, 32);
}

.title.age {
    font-size: 2.2em;
}

.info-subtitle {
    font-size: 1.4em;
    margin: 0;
}

.info-summary {
    color: darkgray;
    font-size: 1.4em;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: bold;
}

.age-section {
    margin-bottom: 100px;
}

.age-section-wrapper {
    margin: 20px 0;
    display: flex;
}

.case-option {
    padding: 20px;
    border-radius: 12px;
    height: 200px;
    width: 300px;
    margin-right: 10px;
    background: lightgrey;
}

.case-option:hover {
    cursor: pointer;
    background: rgb(180, 180, 180);
}

.overlay-container {
    position: relative;
}

.level-wrapper {
    height: 60vh;
    margin-bottom: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.level-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.level-desc {
    color: rgb(148, 148, 148);
    width: 40%;
    padding: 0 30px;
}

.level.apply-button {
    font-size: .9em;
    margin: 0;
    display: block;
}

.float-right {
    float: right;
}

@media only screen and (max-width: 1024px) {
    .info-subtitle {
        font-size: 1.4em;
    }

    .title {
        font-size: 2.2em;
    }

    .info-summary {
        width: 100%;
        font-size: 1.3em;
    }

    .age-section-wrapper {
        padding: 0 20px;
    }

    .option-section-wrapper {
        padding: 0 20px;
    }

    .level-wrapper {
        flex-direction: column;
    }

    .level-desc {
        width: auto;
        padding: 0;
    }

    .level-desc.secondary {
        order: 2;
    }

    .levels-section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}

@media only screen and (max-width: 769px) {
    .country_img {
        width: 80%;
    }

    .roles-wrapper {
        flex-wrap: wrap;
    }

    .role {
        width: 50%;
    }

    .info-subtitle {
        font-size: 1.2em;
    }

    .info-title {
        font-size: 2em;
    }

    .info-summary {
        width: 100%;
        font-size: 1.2em;
    }
}
