.service-title {
    font-size: 1.8em;
}

.promo-video {
    max-width: 100%;
}

.service-subtitle {
    color: gray;
}

#apply-button {
    padding: 15px 50px;
    background-color: darkred;
    text-decoration: none;
    color: whitesmoke;
}

#submit-button {
    padding: 15px 50px;
    font-size: 1.2rem;
    background-color: darkred;
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;  /* Ensures block-level behavior with padding */
    border: none;  /* Removes default button border */
    cursor: pointer;  /* Changes cursor on hover */
}

.school {
    margin-bottom: 10px;
    width: 30%;
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding: 8px;
    color: darkred;
    text-decoration: none;
}

.school:hover {
    background-color: darkred;
    color: white;
}

.school-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 769px) {
    .school {
        width: 100%;
    }
}
