.school-title {
    font-size: 5em;
}

.school-info {
    color: gray;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.school-description {
    text-align: center;
    letter-spacing: .2rem;
    font-size: 1.1em;
}

.main .foreword {
    text-transform: uppercase;
    font-weight: bold;
    color: darkred;
}

.main .title {
    font-size: 1.8em;
}

.image-wrapper {
    width: 50%;
}

.secondary {
    display: flex;
    justify-content: space-between;
}

.accordion-wrapper {
    width: 45%;
}

img {
    width: 100%;
}

.section-wrapper {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.fixed-column {
    width: 25px;
    z-index: 1; 
}

.content-section {
    flex: 1;
}

.apply-button {
    display: block;
    width: 50%;
    font-size: 2em;
    padding: 1rem 3rem;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 3rem auto;
    background-color: darkred;
}

@media only screen and (max-width: 769px) {
    .school-title {
        font-size: 3em;
    }

    .school-description {
        text-align: left;
    }

    .secondary {
        flex-direction: column;
        gap: 1rem;
    }

    .accordion-wrapper {
        width: 100%;
    }

    .image-wrapper {
        width: 100%;
    }

    .apply-button {
        width: auto;
    }
}