.section-hero {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 91px;
    padding-bottom: 100px;
}

.theme-dark {
    background-color: black;
    color: #f5f5f7;
}

.hero-headline {
    font-size: 96px;
    font-weight: bold;
}

.copy-wrapper {
    max-width: 800px;
    margin: 25px auto 0 auto;
}

.hero-tagline {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: -0.037em;
}

br.small {
    display: none;
}

.banner-wrapper {
    display: flex;
    align-items: center;
    background: #000000e6;
    color: white;
    height: 148px;
    justify-content: center;
}

.banner-icon img {
    width: 100px;
}

.banner-content {
    padding: 0 20px;
    font-weight: bold;
    font-size: 21px;
}

.banner-link a {
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.services-container {
    width: 100%;
    background: darkred;
}

.services-wrapper {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.service {
    padding: 20px;
    background: white;
    color: black;
    width: 25%;
}

.service-title {
    padding: 5px;
    background: darkred;
    color: white;
    width: fit-content;
}

.service-link {
    display: block;
    text-align: right;
    margin-top: 50px;
    color: black;
}

@media only screen and (max-width: 769px) {
    .hero-headline {
        font-size: 46px;
    }

    br.small {
        display: block;
    }

    .copy-wrapper {
        max-width: 85%;
    }

    .banner-wrapper {
        flex-direction: column;
        text-align: center;
        height: 288px;
    }

    .banner-icon {
        margin-bottom: 20px;
    }

    .banner-content {
        margin-bottom: 40px;
    }

    .banner-link {
        margin-bottom: 25px;
    }

    .banner-title {
        font-size: 3em;
    }

    .service {
        width: 100%;
    }
}