.section-hero {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 91px;
    padding-bottom: 100px;
}

.theme-dark {
    background: black;
    color: #f5f5f7;
}

.theme-light {
    background: #f5f5f7;
    color: black;
}

.hero-headline {
    font-size: 96px;
    font-weight: bold;
}

.copy-wrapper {
    max-width: 800px;
    margin: 25px auto 0 auto;
}

.hero-tagline {
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.037em;
}

br.small {
    display: none;
}

.banner-wrapper {
    display: flex;
    align-items: center;
    background: #000000e6;
    color: white;
    height: 148px;
    justify-content: center;
}

.banner-icon img {
    width: 100px;
}

.banner-content {
    padding: 0 20px;
    font-weight: bold;
    font-size: 21px;
}

.banner-link a {
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

/* Video section */
.video-hero {
    position: relative;
}

.hero-heading-content {
    position: absolute;
    bottom: 22px;
    left: 10%;
    color: white;
    margin-bottom: 20px;
}

.hero-heading-headline {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero-heading-cta-container {
    display: flex;
}

.hero-video-link {
    margin-right: 20px;
}

.hero-video-link a.text-dark {
    color: black;
}

/* Video styles */
.video-wrapper {
    max-height: 600px;
    overflow: clip;
}

.video {
    width: 100%;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.services-container {
    width: 100%;
    background: darkred;
}

.services-wrapper {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.service {
    padding: 20px;
    background: white;
    color: black;
    width: 25%;
}

.service-title {
    padding: 5px;
    background: darkred;
    color: white;
    width: fit-content;
}

.service-link {
    display: block;
    text-align: right;
    margin-top: 50px;
    color: black;
}

/* Marquees styles */
.marquees-list {
    padding: 0 0 0 20px;
    margin: 0;
    list-style-type: none;
    display: flex;
    overflow-x: auto;
}

.marquees-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.marquees-tile {
    margin: 10px 10px 10px 0;
    height: 172px;
    min-width: 241px;
    background: lightgray;
}

.marquees-link {
    text-decoration: none;
    font-size: .9em;
    color: black;
    width: 80%;
}

.plan-title {
    color: #1d1d1f;
}

.plan-category {
    color: gray;
}

@media only screen and (max-width: 980px) {
    .video-wrapper {
        max-height: 550px;
    }
}

@media only screen and (max-width: 769px) {
    .hero-headline {
        font-size: 46px;
    }

    .hero-tagline {
        font-size: 17px;
    }

    br.small {
        display: block;
    }

    .copy-wrapper {
        max-width: 85%;
    }

    .banner-wrapper {
        flex-direction: column;
        text-align: center;
        height: 288px;
    }

    .banner-icon {
        margin-bottom: 10px;
    }

    .banner-content {
        margin-bottom: 40px;
        font-size: 17px;
    }

    .banner-link {
        margin-bottom: 25px;
    }

    .banner-link a {
        padding: 8px 16px;
    }

    /* Video styles */
    .video-wrapper {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .video {
        width: 250%;
    }

    .hero-heading-headline {
        font-size: 26px;
    }

    .service {
        width: 100%;
    }
}