.store-section {
    padding-top: 120px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.store-title {
    font-weight: normal;
}

.store-subtitle {
    width: 70%;
}

.product-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20%;
    padding: 2px;
}

.product-title {
    font-weight: light;
    font-size: .9rem;
}

.product-category {
    color: gray;
}

.product img {
    width: 100%;
    height: auto;
}

.item-count {
    font-size: .7rem;
    color: gray;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detail p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .product-list-wrapper {
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
    }

    .product {
        max-width: 45%;
    }

    .store-subtitle {
        width: 90%;
    }
}