body {
    background: #fafafc;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* SCROLL BUTTONS */
.scroller-button-wrapper {
    position: absolute;
    left: 5%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgba(238, 238, 238, 0.682);
    font-weight: bold;
}

.scroller-button {
    height: 30px;
    width: 30px;
    background: rgba(164, 164, 164, 0.48);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    z-index: 99;
}

/* STORE BANNER */
.store-banner-row {
    padding: 80px 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.store.title {
    font-size: 2.8em;
    width: 625px;
    color: gray;
    font-weight: bold;
}

.keyword {
    color: rgb(44, 44, 44);
}

.store-assist-wrapper {
    display: flex;
    flex-direction: column;
}

.store.assist {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.assist-image {
    width: 45px;
    margin-right: 10px;
}

.assist-image img {
    width: 100%;
    border-radius: 100%;
}

.assist-link a {
    color: darkred;
    text-decoration: none;
}

.assist-link a:hover {
    text-decoration: underline;
}

/* CATEGORY NAVIGATION */
.category.container {
    width: 100%;
}

.category.row {
    padding-bottom: 60px;
    position: relative;
}

.scroller-nav {
    overflow-x: auto;
    white-space: nowrap; /* Keep items in a single line */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
    padding-left: 9%;
    position: relative;
    display: flex;
    align-items: center;
}

.scroller-nav::-webkit-scrollbar {
    display: none;
}

.scroller-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    height: 110px;
}

.scroller-itemlist {
    display: flex;
}

.scroller-itemtext {
    font-size: .8em;
}

.scroller-itemimage {
    width: 100px;
}

.scroller-itemimage img {
    width: 100%;
}

/* PRODUCTS */
.products.title {
    font-size: 1.6em;
    font-weight: bold;
    color: gray;
    width: 90%;
    padding-bottom: 7px;
}

.product-shelf.container {
    width: 100%;
}

.scroller-overflow {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
}

.scroller-overflow::-webkit-scrollbar {
    display: none;
}

.scroller-platter.outer {
    padding: 10px 0 40px 9%;
    display: flex;
}

.scroller-platter.item {
    width: 309px;
    height: 450px;
    padding: 0 0 0 22px;
    margin-right: 5px;
}

.scroller-platter.itemcard {
    border-radius: 18px;
    height: 380px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
    position: relative;
    overflow: hidden;
}

.scroller-platter.itemcard:hover {
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.16);
    transition: all .3s cubic-bezier(0,0,.5,1);
    cursor: pointer;
}

.itemcard.content {
    padding: 20px;
    position: absolute;
    z-index: 99;
}

.itemcard.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.itemcard.image img {
    width: 100%;
}

.product-category {
    color: gray;
    text-transform: uppercase;
    font-size: .8em;
    padding-bottom: 9px;
}

.product-name {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 7px;
}

.product-price {
    color: gray;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .store.title {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    /* STORE */
    .scroller-nav {
        padding-left: 2%;
    }

    .store-banner-row {
        padding: 50px 0;
        flex-direction: column;
    }

    .store.title {
        width: 90%;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .store.assist {
        font-size: .9em;
    }

    .assist-label {
        color: black;
    }

    .assist-image {
        width: 30px;
    }

    /* CATEGORIES */
    .category.row {
        padding-bottom: 30px;
    }

    /* PRODUCTS*/
    .products.title {
        font-size: 1.4em;
        font-weight: bold;
        color: gray;
    }

    .scroller-platter.outer {
        padding: 10px 0 40px;
    }
}