.store-section {
    padding-top: 40px;
}

.store-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.store-nav .store-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.store-nav .store-link:hover {
    color: gray;
}

.featured-image {
    width: 100%;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.products-container {
    margin-top: 40px;
}

.store-title {
    font-weight: normal;
}

.section-title {
    margin-bottom: 20px;
}

.section-title .title {
    margin: 0;
}

.section-title .subtitle {
    margin: 0;
}

.store-subtitle {
    width: 70%;
}

.product-section {
    margin-bottom: 100px;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.product-item {
    width: 23%;
}

.product-details p {
    margin: 0;
}

.product-title {
    padding-top: 10px;
    font-size: .9em;
}

.product-image img {
    width: 100%;
}

.category-price-wrapper {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: .9em;
}

.product-category {
    color: gray;
}

.item-count {
    color: gray;
    font-size: .7em;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
    
    .product-item {
        width: 48%;
    }

    .store-subtitle {
        width: 90%;
    }
}