/* Main styles */
body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Navigation bar */
.nav-spacer {
    padding-top: 40px;
}

.navigation-bar {
    width: 100%;
    position: fixed;
    z-index: 99;
    background: rgba(26, 26, 26, 0.938);
}

.nav-content-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.navigation-link {
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-size: .8em;
}

.navigation-link:hover {
    color: gray;
}

.logo-wrapper a {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrapper img {
    width: 80px; 
    height: auto; 
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkred; 
    border-radius: 12px;
    height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}