/* Main styles */
body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Navigation bar */
.nav-spacer {
    padding-top: 40px;
}

.navigation-bar {
    width: 100%;
    position: fixed;
    z-index: 99;
    background: rgba(26, 26, 26, 0.938);
}

.nav-content-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.navigation-link {
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-size: .8em;
}

.navigation-link:hover {
    color: gray;
}

.logo-wrapper a {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrapper img {
    width: 80px; 
    height: auto; 
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkred; 
    border-radius: 12px;
    height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Footer */
.footer {
    background: black;
    color: gray;
    padding: 80px 0 40px;
}

.footer-starter-wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 20px;
}

.footer-notice {
    color: darkred;
    margin-bottom: 30px;
}

.footer-help-link {
    color: white;
}

.footer-column-link {
    color: white;
    text-decoration: none;
}

.footer-column-link:hover {
    color: gray;
    text-decoration: underline;
}

.footer-title {
    color: gray;
    font-weight: bold;
}

.footer-wrapper {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 20%;
}

.column-label {
    font-size: 1.2em;
    font-weight: bold;
}

.column-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: .9em;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .footer-column {
        width: 40%;
    }
}

@media only screen and (max-width: 769px) {
    .footer-column {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-starter-wrapper {
        max-width: 90%;
    }

    .footer-wrapper {
        max-width: 90%;
    }
}