<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}f5{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'media/index/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navigation-bar">
        <div class="nav-content-wrapper">
            <div class="logo-wrapper">
                <a href="{% url 'f5index:home' %}"><img src="{% static 'media/index/firstfive-logo.png' %}" /></a>
            </div>
            <a class="navigation-link" href="{% url 'f5index:home' %}">Home</a>
            <a class="navigation-link" href="{% url 'f5index:about' %}">About</a>
            <a class="navigation-link" href="{% url 'store:store' %}">Store</a>
            <a class="navigation-link" href="{% url 'f5index:services' %}">Services</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>