<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}f5{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'media/index/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navigation-bar">
        <div class="nav-content-wrapper">
            <div class="logo-wrapper">
                <a href="{% url 'f5index:home' %}"><img src="{% static 'media/index/firstfive-logo.png' %}" /></a>
            </div>
            <a class="navigation-link" href="{% url 'f5index:home' %}">Home</a>
            <a class="navigation-link" href="{% url 'f5index:about' %}">About</a>
            <a class="navigation-link" href="{% url 'store:store' %}">Store</a>
            <a class="navigation-link" href="{% url 'f5index:services' %}">Services</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="footer-starter-wrapper">
            <div class="footer-notice">*This platform is under live maintenance and is updated weekly. If something does not work, please <a class="footer-help-link" href="{% url 'submissions:issue' %}">report it</a> here.</div>
            <div class="footer-title">First Five Rugby 2024</div>
        </div>
        <div class="footer-wrapper">
            <div class="footer-column">
                <div class="column-label">Player Services</div>
                <ul class="column-list">
                    <li>Fitness Plans</li>
                    <li>Diet Plans</li>
                    <li>Play Abroad</li>
                    <li>Free Evaluation</li>
                </ul>
            </div>
            <div class="footer-column">
                <div class="column-label">Team Services</div>
                <ul class="column-list">
                    <li>Custom Team Kit</li>
                    <li>Recruiting Service</li>
                    <li>Social Media Plan</li>
                    <li>Team Tours</li>
                </ul>
            </div>
            <div class="footer-column">
                <div class="column-label">Careers</div>
                <ul class="column-list">
                    <li>All Positions</li>
                    <li>Strength and Fitness</li>
                    <li>Diet & Nutrition</li>
                    <li>Rugby Coaching</li>
                </ul>
            </div>
            <div class="footer-column">
                <div class="column-label">Contact</div>
                <ul class="column-list">
                    <li>Leave Feedback</li>
                    <li>Send Email</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>