{% extends 'base.html' %}

{% block title %} Product Page {% endblock %}

{% load static %}

{% block extra_head %}
<meta name="description" content="This is a product detail page for a rugby product sold on First Five Rugby.">
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
<main>
    <section id="product-section">
        <!-- Example of a product loaded dynamically -->
        <div class="product">
            <h3>{{ product.name }}</h3>
            <img width="100%" src="{{ product.primary_image_url }}" alt="{{ product.name }}"/>

            <h4>Description</h4>
            <p>{{ product.description }}</p>

            <div class="product-details">
                {% for detail in product.productdetail_set.all %}
                <div class="detail">
                    <h4>Unique Features</h4>
                    <p>{{ detail.unique_features }}</p>

                    <h4>Materials</h4>
                    <p>{{ detail.materials }}</p>

                    <h4>Thickness</h4>
                    <p>{{ detail.weight }}</p>
                </div>
                {% endfor %}
                <div class="detail">
                    <h4>Stock</h4>
                    {% if product.stock > 0 %}
                        <p>{{ product.stock }}</p>
                    {% else %}
                        <p class="sold-out">SOLD OUT</p>
                    {% endif %}
                </div>
                <div class="detail">
                    <h4>Price</h4>
                    <p>${{ product.price }}</p>
                </div>
            </div>
            {% if product.stock > 0 %}
                <a class="purchase-link" href="{% url 'product:purchase' product.id %}">Purchase</a>
            {% else %}
                <a class="purchase-link" href="https://www.instagram.com/firstfiverugby/">DM us to request stock.</a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}