{% extends 'base.html' %}

{% block title %} Product Page {% endblock %}

{% load static %}

{% block extra_head %}
<meta name="description" content="This is a product detail page for a rugby product sold on First Five Rugby.">
<link rel="stylesheet" href="{% static 'css/product_details.css' %}">
<script src="{% static 'js/product_details.js'%}"></script>
{% endblock %}

{% block content %}
<div class="nav-spacer">
</div>
<div class="container product-details-wrapper">
    <div class="product-details">
        <div class="product-brand">{{ product.brand }}</div>
        <div class="product-title">{{ product.title }}</div>
        <div class="product-category">{{ product.category }}</div>
    </div>

    <!-- Images Wrapper -->
    <div class="images-wrapper">
        <!-- Product Images -->
        <div class="product-images">
            {% for image in images %}
                <div class="product-image-wrapper">
                    <img class="product-image" src="{{ image.image.url }}" alt="Product Image">
                    <div class="product-image-overlay">
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!-- Main Image Wrapper -->
        <div class="main-image-wrapper">
            <img class="main-image" src="{{ product.get_main_image.image.url }}" alt="Main Product Image">
        </div>
    </div>

    <div class="sizes-and-colors">
        <!-- Display available sizes -->
        <div class="sizes-section">
            <h2>Available Sizes:</h2>
            <ul>
                {% for variant in variants %}
                    <li>{{ variant.size }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Display available colors -->
        <div class="colors-section">
            <h2>Available Colors:</h2>
            <ul>
                {% for color in unique_colors %}
                    <li>{{ color }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <!-- Add to Cart form -->
    <form method="post" action="#">
        {% csrf_token %}
        <select name="size">
            <option value="">Select Size</option>
            {% for variant in variants %}
                <option value="{{ variant.size }}">{{ variant.size }}</option>
            {% endfor %}
        </select>
        <select name="color">
            <option value="">Select Color</option>
            {% for color in unique_colors %}
                <option value="{{ color }}">{{ color }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add to Cart">
    </form>
</div>
{% endblock %}