{% extends 'base.html' %}

{% block title %} Store page {% endblock %}

{% load static %}

{% block extra_head %}
<meta name="description" content="Shop at First Five Rugby Store for premium rugby apparel and merchandise. Discover our range of streetwear, vintage jerseys, and exclusive rugby gear.">
<link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}

{% block content %}
<!-- Store Section -->
<section class="store-section">
    <div class="container">
        <div class="daily-section">
            <h1 class="store-title">FIRST FIVE STORE 2024 <span class="item-count">[{{ products|length }}]</span></h1>
            <p class="store-subtitle">Explore our curated selection of rugby apparel, ranging from streetwear to vintage jerseys and clubwear.</p> 
            <div class="products-wrapper">
                {% for product in products %}
                <div class="product-item">
                    <div class="product-image">
                        <a href="{% url 'store:product_details' product.id %}"><img src="{{ product.main_image.image.url }}" alt="{{ product.title }} Main Image"></a>
                    </div>
                    <div class="product-details">
                        <p class="product-title">{{ product.title }}</p>
                        <div class="category-price-wrapper">
                            <p class="product-category">{{ product.category }}</p>
                            <p class="product-price">${{ product.first_variant.price|floatformat }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}