{% extends 'base.html' %}

{% block title %} Store page {% endblock %}

{% load static %}

{% block extra_head %}
<meta name="description" content="Shop at First Five Rugby Store for premium rugby apparel and merchandise. Discover our range of streetwear, vintage jerseys, and exclusive rugby gear.">
<link rel="stylesheet" href="{% static 'css/store.css' %}">
<script src="{% static 'js/store.js'%}"></script>
{% endblock %}

{% block content %}
<div class="nav-spacer"></div>

<!-- Store Section -->
<div class="banner row">
    <div class="container">
        <div class="store-banner-row">
            <div class="store title">
                <span class="keyword">Store.</span> The best way to buy the rugby items you love.
            </div>
            <div class="store-assist-wrapper">
                <div class="store assist">
                    <div class="assist-image">
                        <img src="{% static 'media/store/assist1.jpg' %}" />
                    </div>
                    <div class="assist-text">
                        <div class="assist-label">Need shopping help?</div>
                        <div class="assist-link"><a href="">Ask a Specialist.</a></div>
                    </div>
                </div>
                <div class="store assist">
                    <div class="assist-image">
                        <img src="{% static 'media/store/assist2.jpg' %}" />
                    </div>
                    <div class="assist-text">
                        <div class="assist-label">Have a clothing idea?</div>
                        <div class="assist-link"><a href="">Submit a Design.</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category row">
    <div class="scroller-button-wrapper container">
        <div class="scroller-button left">
            <
        </div>
        <div class="scroller-button right">
            >
        </div>
    </div>
    <div class="category container">
        <div class="scroller-nav">
            <div class="scroller-itemlist">
                <a href="#" class="scroller-item">
                    <div class="scroller-itemimage">
                        <img src="{% static 'media/store/deals.png' %}" />
                    </div>
                    <div class="scroller-itemtext">
                        Deals
                    </div>
                </a>

                <a href="#" class="scroller-item">
                    <div class="scroller-itemimage">
                        <img src="{% static 'media/store/team.png' %}" />
                    </div>
                    <div class="scroller-itemtext">
                        Team Customs
                    </div>
                </a>

                <a href="#" class="scroller-item">
                    <div class="scroller-itemimage">
                        <img src="{% static 'media/store/caps.png' %}" />
                    </div>
                    <div class="scroller-itemtext">
                        Caps
                    </div>
                </a>

                <a href="#" class="scroller-item">
                    <div class="scroller-itemimage">
                        <img src="{% static 'media/store/lifting.png' %}" />
                    </div>
                    <div class="scroller-itemtext">
                        Lifting Kit
                    </div>
                </a>

                <a href="#" class="scroller-item">
                    <div class="scroller-itemimage">
                        <img src="{% static 'media/store/signed.png' %}" />
                    </div>
                    <div class="scroller-itemtext">
                        Signed
                    </div>
                </a>

                <a href="#" class="scroller-item">
                    <div class="scroller-itemimage">
                        <img src="{% static 'media/store/vintage.png' %}" />
                    </div>
                    <div class="scroller-itemtext">
                        Vintage
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="product-title container">
    <div class="product-banner-row">
        <div class="products title">
            <span class="keyword">The latest.</span> Take a look at what's new, right now.
        </div>
    </div>
</div>
<div class="product-shelf container">
    <div class="scroller-overflow">
        <div class="scroller-button-wrapper container">
            <div class="scroller-button left">
                <
            </div>
            <div class="scroller-button right">
                >
            </div>
        </div>
        <div class="scroller-platter outer">
            {% for product in latest_products %}
            <div class="scroller-platter item">
                <a href="#" class="scroller-platter itemlink">
                    <div class="scroller-platter itemcard">
                        <div class="itemcard content">
                            <div class="product-category">{{ product.category }}</div>
                            <div class="product-name">{{ product.title }}</div>
                            <div class="product-price">${{ product.get_main_variant.price }}</div>
                        </div>
                        <div class="itemcard image">
                            <img src="{{ product.get_main_image }}" alt="{{ product.title }}" />
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <p>No products to show here.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="services-title container">
    <div class="services-banner-row">
        <div class="services title">
            <span class="keyword">The F5 difference.</span> Even more reasons to shop with us.
        </div>
    </div>
</div>
<div class="product-shelf container">
    <div class="scroller-overflow services">
        <div class="scroller-button-wrapper container">
            <div class="scroller-button left">
                <
            </div>
            <div class="scroller-button right">
                >
            </div>
        </div>
        <div class="scroller-platter outer">
            <div class="scroller-platter item">
                <a href="#" class="scroller-platter itemlink">
                    <div class="scroller-platter servicecard">
                        <div class="servicecard content">
                            <div class="servicecard image"><img src="{% static 'media/store/service-1.png' %}" /></div>
                            <div class="product-name">Enjoy <span class="service-green">1-on-1 meetings</span> with a First Five Rep, a <span class="service-green">free quote</span>, or group <span class="service-green">info sessions.</span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="scroller-platter item">
                <a href="#" class="scroller-platter itemlink">
                    <div class="scroller-platter servicecard">
                        <div class="servicecard content">
                            <div class="servicecard image"><img src="{% static 'media/store/service-2.png' %}" /></div>
                            <div class="product-name"><span class="service-blue">No experience required.</span> Start exactly where you are.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="scroller-platter item">
                <a href="#" class="scroller-platter itemlink">
                    <div class="scroller-platter servicecard">
                        <div class="servicecard content">
                            <div class="servicecard image"><img src="{% static 'media/store/service-3.png' %}" /></div>
                            <div class="product-name">Get a personalized <span class="service-purple">diet or fitness plan</span> on our platform.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="scroller-platter item">
                <a href="#" class="scroller-platter itemlink">
                    <div class="scroller-platter servicecard">
                        <div class="servicecard content">
                            <div class="servicecard image"><img src="{% static 'media/store/service-4.png' %}" /></div>
                            <div class="product-name"><span class="service-red">Customize</span> your rugby goals and create your own path.</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}